.about {
  position: relative;
  height: 150vh;
 }
 .about::after {
  content: '';
  display: inline-block;
  background-image: url('/images/cloud-1.png');
  width: 100%;
  height: 180px;
  position: absolute;
  background-size: cover;
  background-position: center -100px;
  bottom: 0;
 }
.about-title-wrapper {
  content: '';
  display: inline-block;
  position: absolute;
  top: -220px;
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  text-align: center;
  background-image: url('/images/cloud-1.png');
  /*animation: animateUp 1s  normal forwards ease-in-out;*/
  /*animation-delay: 0s;*/
  /*animation-iteration-count: 1;*/
  h1 {
    font-family: "BebasNeueLight";
    margin: 0;
    position: absolute;
    top: 40%;
    right: 0;
    left: 0;
    color: var(--gray);
    font-size: 60px;
  }
  span {
    font-family: "BebasNeueBook";
    color: var(--blue);
    display: block;
  }
}
.about-description-wrapper {
  content: '';
  display: inline-block;
  position: absolute;
  top: 40px;
  width: 100%;
  height: 400px;
  background-size: contain;
  background-position: center;
  text-align: center;
  background-repeat: no-repeat;
  background-image: url('/images/cloud-shadow.png');
/*  opacity: 0;*/
  .about-description {
    font-family: 'HelveticaNeue-Thin';
    margin: 0;
    width: 85%;
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    margin: 0 auto;
    font-size: 20px;
  }
}
.about-budget {
  display: flex;
  align-items: center;
  z-index: -1;
  position: absolute;
  height: 150vh;
  right: 0;
  left: 0;
  background-color: var(--cyan);
  .budget-description {
    font-family: "HelveticaNeue-Thin";
    position: absolute;
    left: 150px;
    right: 100px;
    top: 60%;
    font-size: 20px;
    width: 42%;
  }
  .budget-visuals {
    font-size: 80px;
    content: '';
    display: inline-block;
    background-image: url('/images/hand-full.png');
    background-size: contain ;
    background-position: right;
    background-repeat: no-repeat ;
    position: absolute;
    width: 650px;
    height: 450px;
    top: 40%;
    right: 100px;
    .budget-visuals-description {
      position: relative;
      height: 100%;
      p {
        top: 60%;
        text-align: center;
        margin: 0;
        font-size: 60px;
        left: 40%;
        position: absolute;
        span {
          display: inline;
        }
      }
    }
    span {
      font-family: "BebasNeue";
      display: block;
    }
  }
}
