.awarness {
  height: 240vh;
}
.awarness-wrapper {
  position: relative;
  height: 240vh;
}
.awarness-wrapper {
  display: flex;
  align-items: center;
  z-index: -1;
  position: absolute;
/*  height: 150vh;*/
  right: 0;
  left: 0;
  background-color: var(--cyan);
  .awarness-description {
    font-family: "HelveticaNeue-Thin";
    position: absolute;
    left: 150px;
    right: 100px;
    top: 25%;
    width: 30%;
  }
  .awarness-visuals {
    font-size: 55px;
    content: '';
    display: inline-block;
    background-image: url('/images/cloud-white-small.png');
    background-size: cover ;
    background-position: center ;
    background-repeat: no-repeat ;
    position: absolute;
    width: 500px;
    height: 350px;
    top: 20%;
    right: 100px;
    .awarness-visuals-description {
      position: relative;
      height: 100%;
      z-index: 1;
      p {
        top: 40%;
        text-align: center;
        margin: 0;
        right: 0;
        left: 0;
        position: absolute;
      }
    }
    .awarness-visuals-icon {
      content: '';
      display: inline-block;
      background-image: url('/images/limted-res.png');
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      width: 350px;
      height: 350px;
      position: absolute;
      z-index: -1;
      top: -180px;
      left: 50%;
      transform: translateX(-50%);
    }
    span {
      font-family: "BebasNeue";
      display: block;
    }
  }
}
.awarness-tree {
  position: absolute;
  bottom: 0;
  content: '';
  width: 70%;
  height: 720px;
  right: 50%;
  transform: translateX(50%);
  display: inline-block;
  background-image: url('/images/tree-1.png');
  background-size: contain;
  background-position: bottom center;
  background-repeat: no-repeat;
}
