.home {
  content: '';
  display: inline-block;
  background-image: url('/images/sky.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
  margin-top: -180px;
  position: relative;
  z-index: -1;
}
.home-title-wrapper {
  position: relative;
  font-family: "BebasNeueBook";
  content: '';
  display: inline-block;
  top: 20vh;
  background-image: url('/images/planet.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 500px;
  height: 500px;
  .home-title {
    color: #fff;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 60px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
  }
}
.home-description-wrapper {
  position: absolute;
  top: 40vh;
  width: 58%;
  right: 60px;
  text-align: center;
  .home-action {
    cursor: pointer;
    display: inline-block;
    color: var(--blue);
    font-size: 40px;
    border: 4px solid #fff;
    border-radius: 18px;
    text-decoration: none;
    padding-inline: 25px;
    height: 65px;
    line-height: 65px;
    margin-bottom: 40px;
  }
  .home-description {
    color: #fff;
    font-size: 20px;
    font-family: 'HelveticaNeue';
  }
}
.home-ast {
  position: absolute;
  bottom: 50px;
  right: 60px;
  .ast {
    display: inline-block;
    animation: upAndDown 4s infinite  alternate;
    img {
      width: 260px;
      height: 160px;
    }
  }
  .ast-2 {
    transform: scaleX(-1) rotate(-30deg);;
  }
}


@keyframes upAndDown {
  0% { transform: translateY(0); }
  100% { transform: translateY(-50px); }
}
