.resources {
  position: relative;
  height: 140vh;
}
.resources-wrapper {
  height: 140vh;
  width: 100%;
}
.resources::before {
  content: '';
  display: inline-block;
  background-image: url('/images/cloud-1.png');
  width: 100%;
  height: 180px;
  position: absolute;
  background-size: cover;
  background-position: center -100px;
  bottom: 0;
}
.resources::after {
  content: '';
  display: inline-block;
  background-image: url('/images/cloud-blue-large.png');
  width: 100%;
  height: 180px;
  position: absolute;
  background-size: cover;
  background-position: center 80px;
  bottom: 0;
  background-repeat: no-repeat;
 }
.resources {
  display: flex;
  align-items: center;
  z-index: -1;
  position: relative;
  right: 0;
  left: 0;
  background-color: #fff;
  .resources-description {
    font-family: "HelveticaNeue-Thin";
    position: absolute;
    right: 100px;
    width: 30%;
    top: 30%;
  }
  .resources-visuals {
    font-size: 70px;
    content: '';
    display: inline-block;
    background-image: url('/images/cloud-blue-1.png');
    background-size: contain ;
    background-position: center;
    background-repeat: no-repeat ;
    position: absolute;
    width: 650px;
    height: 400px;
    top: 20%;
    left: 100px;
    .resources-visuals-description {
      position: relative;
      height: 100%;
      p {
        top: 45%;
        text-align: center;
        margin: 0;
        right: 0;
        left: 0;
        position: absolute;
      }
    }
    .resources-icon {
      content: '';
      display: inline-block;
      background-image: url('/images/limted-res.png');
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      width: 450px;
      height: 450px;
      position: absolute;
      z-index: -1;
      top: -180px;
      left: 50%;
      transform: translateX(-50%);
    }
    span {
      font-family: "BebasNeue";
      display: inline;
    }
  }
}
