section.about
  img.hidden(src="images/cloud-1.png")
  img.hidden(src="images/cloud-2.png")
  img.hidden(src="images/cloud-3.png")
  img.hidden(src="images/hand.png")
  img.hidden(src="images/about-shadow.xpng")
  .about-title-wrapper.content
    h1.about-title How? <span> Matching Brands! </span>
  .about-description-wrapper.content
    p.about-description brand match will help you to connect with a strategic partner from any industry that complement your product or services to engage to-gether in the advertising campaign. Simply write the campaign you want and it will appear to other companies who are interested at the same kind of activity or just search for companies with the same vision and start your marketing journey.
  .about-budget
    p.budget-description.content Don’t have much money to spend on marketing? Got lots of marketing ideas but restricted with your limited company’s budget? ,start your campaign now with brand match and ﬁnd your marketing partner.
    .budget-visuals.content
      .budget-visuals-icon
      .budget-visuals-description
        p Tight <span>Budget</span>

