footer
  .footer-wrapper
    .footer-links
      ul.list.list--inline
        li
          a(href="") ABOUT US
        li
          a(href="") HOW IT WORKS
        li
          a(href="") SECURITY
        li
          a(href="") INVESTOR
        li
          a(href="") SITEMAP
        li
          a(href="") QUOTES
    .footer-logo
      img(src="images/logo.png")
    .footer-social
      ul.list.list--inline
        li.phone Contactus
        li Support
        li Registeration
        li Sign in

