footer
  .footer-wrapper
    .footer-links
      ul.list.list--inline
        li
          a(href="") ABOUT US
        li
          a(href="") HOW IT WORKS
        li
          a(href="") SECURITY
        li
          a(href="") INVESTOR
        li
          a(href="") SITEMAP
        li
          a(href="") QUOTES
    .footer-logo
      img(src="images/logo.png")
    .footer-social
      ul.list.list--inline
        li.phone
          a(href="") Contactus
        li
          a(href="") Support
        li
          a(href="") Registeration
        li
          a(href="") Sign in

