header.header-wrapper.clearfix
  h1.pull-start
    a(href="index.html")
      .logo-wrapper
        img(src="images/logo.png")
  .nav-wrapper
    .nav-icon.hide
      span
      span
      span
    .navigation
      <a id="menu-icon">&#9776; Menu</a>
      nav.nav.pull-end.navbar
        ul.list.list--inline
          li
            a(href="") Home
          li
            a(href="") About Us
          li
            a(href="") Services
          li
            a(href="") Companies
          li
            a(href="") Trending
