head
  meta(charset='utf-8')
  title Brandmatch
  meta(name='description', content='')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='shortcut icon', href='favicon.ico')
  //- link(rel="stylesheet" href="styles/components/responsive-nav.css")
  //- script(src="scripts/responsive-nav.js")
  link(rel='stylesheet', href='styles/main.css')
