section.home
  img.hidden(src="images/sky.jpg")
  img.hidden(src="images/planet.png")
  .home-title-wrapper
    h1.home-title Brandmatch
  .home-description-wrapper
    a.home-action(href="!#") Register Now
    p.home-description platform helps you to ﬁnd and connect with a business partner to share and ally a marketing campaigns, activities, events, and exhibition.
  .home-ast
    .ast.ast-1
      img(src="images/ast.png")
    .ast.ast-2
      img(src="images/ast-1.png")
