section.resources
  .resources-wrapper
    p.resources-description Your current operations, connections & resources not at a scale to get you where you want? Here you will ﬁnd Thousands of companies, services and and offers.
    .resources-visuals
      .resources-icon
      .resources-visuals-description
        p Limited <span> Resources</span>

