section.together
  .together-wrapper
    .together-tree
      img.hidden(src="images/tree-2.png")
  .together-items-wrapper.clearfix
    .together-item(data-aos="fade-up")
      .together-item-left
        .together-title
          p BE MORE COST EFFECTIVE AND <span>DOUBLE YOUR BUDGET!!</span>
        .together-description
          p By sharing the cost of your marketing campaign
    .together-item(data-aos="fade-up")
      .together-item-right
        .together-title
          p SHARE AUDIENCE
        .together-description
          p Improve your brand awareness by find similar people who are already qualified as potential customers.
    .together-item(data-aos="fade-up")
      .together-item-left
        .together-title
          p SHARE RESOURCES AND BE <span>MORE EFFICIENT</span>
        .together-description
          p By amalgamate together resources, operations and talents. You will be able to make the campaign you always want but more effective and with less marketing expenses.

