section.video-section
  .video-wrapper
    .video-ast
      .ast.ast-1
        img(src="images/ast.png")
      .ast.ast-2
        img(src="images/ast.png")
    p Share campaigns will help you implement ypur marketing goals, reduce your budget , improve your resources and get over the marketing issues.
    iframe(width="560" height="315" src="https://www.youtube.com/embed/ypClGxOXWfE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
    img.logo(src="images/logo.png")
