extends includes/_base-layout
block config
  - var page = "index"
block content
  include includes/_index
  include includes/_aboutus
  include includes/_resources
  include includes/_awarness
  include includes/_together
  include includes/_video-section


